@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.text-muted{
  color: red !important;
}
.sidebar-wrapper{
  background: #a11b34;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
