<p-dialog header="Invoice" [(visible)]="displayBasic" [baseZIndex]="10000">
  <div class="container" id="tablecontent">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="3">Customer/Client Name : {{users.name}} {{users.firstName}} </th>
              <th colspan="2">Invoice number : {{updateUser.value.invoiceNumber}}</th>
              <th rowspan>Date : {{updateUser.value.date}} </th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td colspan="3"><strong>WebmobileZ/ARI Fleet</strong><br /><br />
                Address: {{users.address}}, {{users.address1}} {{users.state}} {{users.city}} {{users.zipcode}}<br />
              </td>
              <td colspan="3"></td>

            </tr>

            <tr>
              <td rowspan> SR</td>
              <td class="text-right" colspan="2"><strong>Description of services</strong></td>
              <td rowspan>Hours</td>
              <td rowspan>Rate</td>
              <td rowspan>Amount</td>

            </tr>
            <tr>
              <td rowspan> 1</td>
              <td class="text-right" colspan="2">{{updateUser.value.services}}</td>
              <td rowspan>{{updateUser.value.hours}}</td>
              <td rowspan>{{updateUser.value.rate}}</td>
              <td rowspan>{{updateUser.value.amount}}</td>
            </tr>
            <tr>
              <td rowspan colspan="5" class="text-right"><strong>Total Amount</strong> </td>
              <td rowspan>${{updateUser.value.amount}}</td>
            </tr>
            <tr>

              <td rowspan colspan="5" class="text-right"><strong>Signature</strong></td>
              <td rowspan><img src="{{updateUser.value.signature}}" /></td>
            </tr>
            <tr>
              <td rowspan colspan="5" class="text-right"><strong>Print Name</strong></td>
              <td rowspan>{{updateUser.value.printName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="generatePDF()">Update Invoice</button>
</p-dialog>
<div class="table-bordered" id="tablecontent">
  <form [formGroup]="updateUser" (ngSubmit)="updateUserDetails()">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Customer/Client Name<br /></th>
          <th colspan="2">Invoice number<br /><input type="text" colspan="" formControlName="invoiceNumber"
              class="form-control" disabled></th>
          <th>Date :<input type="date" class="form-control" formControlName="date" value="2020-10-19"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3"><strong>WebmobileZ/ARI Fleet</strong><br /><br />
            Address: {{users.address}}, {{users.address1}} {{users.state}} {{users.city}} {{users.zipcode}}<br /></td>
          <td colspan="3"></td>

        </tr>
        <tr>
          <td rowspan> SR</td>
          <td class="text-right" colspan="2"><strong>Description of services</strong></td>
          <td rowspan>Hours</td>
          <td rowspan>Rate</td>
          <td rowspan>Amount</td>

        </tr>
        <tr>
          <td rowspan> 1</td>
          <td class="text-right" colspan="2"><textarea class="form-control" formControlName="services"></textarea></td>
          <td rowspan><input type="number" formControlName="hours" class="form-control"></td>
          <td rowspan><input type="number" formControlName="rate" class="form-control" disabled></td>
          <td rowspan><input type="number" formControlName="amount" class="form-control" disabled></td>
        </tr>
        <tr>
          <td rowspan colspan="6" height="200">
            <div class="">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Total Amount</th>
                    <th>{{updateUser.value.amount}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>Signature</td>
                    <td> <img src="{{updateUser.value.signature}}" /></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Print Name</td>
                    <td><input type="text" formControlName="printName" class="form-control"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <button [disabled]="!updateUser.valid" (click)="showBasicDialog()">Preview Invoice</button>


</div>

<p-dialog header="Signature" [(visible)]="displayBasic1" [baseZIndex]="10000">

  <ng-signature-pad doneButtonText="Submit" format="base64" (done)="showImage($event)">
  </ng-signature-pad>

</p-dialog>
