<div class="row">
  <div class="col-md-12">
          <h4 class="remove-margin">Invoices </h4>
    <div class="card">
      <div class="card-header">
        <!-- <div class="float-right"> -->

        <!-- </div> -->
      </div>
      <div class="card-body">
        <p-table #dt [value]="timeSheets" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[6,12]" [loading]="loading" styleClass="p-datatable-customers"
        [paginator]="false"
        [filterDelay]="0" [globalFilterFields]="['amount','transferDate','confirmationNumber','paymentStatus']">

        <ng-template pTemplate="header">
            <tr>
              <th>Employee Name</th>
                <th>Invoice Number</th>
                <th>Client Name</th>
                <th>Invoice Date</th>
                <th>Hours</th>
                <th>Amount</th>

                <th>Action</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
              <td>
                {{customer.name}}
              </td>
              <td>
                {{customer.invoiceNumber}}
              </td>
              <td>
                {{customer.clientName}}
              </td>
                <td>
                    {{customer.invoiceDate | date}}
                </td>
                <td>
                   {{customer.quantity}}
                </td>
                <td>
                  {{customer.amount}}
               </td>
               <td>
              <!--  <a (click)="editUser(customer.id)"  class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a (click)="viewUser(customer.id)"  class="btn btn-warning btn-sm"><i class="fa fa-download" aria-hidden="true"></i></a> -->
              </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No Invoices found.</td>
            </tr>
        </ng-template>
    </p-table>

      </div>
    </div>
  </div>
</div>

<p-inplace >
  <ng-template pTemplate="display">
      Click to Edit
  </ng-template>
  <ng-template pTemplate="content">
      <input type="text" value="PrimeNG" pInputText>
  </ng-template>
</p-inplace>

