<div class="row">
  <div class="col-md-12">
    <h4 class="remove-margin"> Employee Rates </h4>
    <div class="card">
      <div class="card-header">
        <!-- <div class="float-right"> -->
        <a routerLink="/userrates/create" class="btn btn-info btn-sm">Add New</a>
        <!-- </div> -->
      </div>
      <div class="card-body">
        <p-table #dt [value]="timeSheets" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[6,12]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="false"
          [filterDelay]="0" [globalFilterFields]="['fromDate','duration','assignment','serviceCode']">

          <ng-template pTemplate="header">
            <tr>
              <th>Employee Name</th>
              <th>Rate</th>
             <!-- <th>Created At</th> -->
              <th>Action</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>
                {{customer.user_details.name}} {{customer.user_details.lastName}}
              </td>
              <td>
                {{customer.rate}}
              </td>

             <!--  <td>
                {{customer.created_at | date}}
              </td> -->
              <td>
                <a (click)="editUser(customer.id)" class="btn btn-warning btn-sm">Edit</a>
                <a (click)="deleteUser(customer.id)" class="btn btn-warning btn-sm">Delete</a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">No Employees found.</td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>
</div>

<p-inplace>
  <ng-template pTemplate="display">
    Click to Edit
  </ng-template>
  <ng-template pTemplate="content">
    <input type="text" value="PrimeNG" pInputText>
  </ng-template>
</p-inplace>
