<div class="row">
  <div class="col-md-12">
    <h4 class="remove-margin">Employee Documents </h4>
    <div class="card">
      <div class="card-header">
        <!-- <div class="float-right"> -->
        <a routerLink="/users/documentcreate" class="btn btn-info btn-sm">Add Document to User</a>
        <!-- </div> -->
      </div>
      <div class="card-body">
        <p-table #dt [value]="userdata" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[6,12]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="false"
          [filterDelay]="0" >

          <ng-template pTemplate="header">
            <tr>
              <th>User Name</th>
              <th>Document Type</th>
              <th>Document</th>
              <th>Action</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>
                {{customer.user_details.name}} {{customer.user_details.lastName}}
              </td>
              <td>
                {{customer.documentType}}
              </td>
              <td>
                <a target="_blank"
                href="https://employees.webmobilez.com/storage/app/uploads/documentfile/{{customer.documentFile}}"
                download>Download</a>
              </td>
              <td>
                <a  class="btn btn-warning btn-sm" (click)="editDocument(customer.userDocumentId)">View</a>
                <a (click)="deleteUser(customer.userDocumentId)" class="btn btn-warning btn-sm">Delete</a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">No Documents found.</td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>
</div>


